
        <div class="row">
            <!-- Leave the first column empty -->
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <!-- row 1: map -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=McGill+University+Montreal+Quebec" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <!-- row 2: Admin info -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Administrative Offices</h4>
                                <p>McConnell Engineering Bldg. Room 318 3480 University St.</p>
                                <p>Montréal, Québec, Canada H3A 0E9</p>
                                <p>Tel: (514) 398-7071</p>
                                <p>Fax: (514) 398-3883</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <!-- row 3: Undergrad contact -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Undergraduate Studies</h4>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p><b>Application Info</b></p>
                                        <p><a href="https://www.mcgill.ca/admissions/">Program and Admissions</a></p>
                                        <p><a href="https://www.mcgill.ca/servicepoint/contact-us">Service point</a></p>
                                        <p>Tel: (514) 398-3910</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Program Info</b></p>
                                        <p>Liette Chin</p>
                                        <p>
                                            <a href="mailto:ugrad-coordinator@cs.mcgill.ca?">ugrad-coordinator@cs.mcgill.ca</a>
                                        </p>
                                        <p>Tel: (514) 398-7071 ext. 00118</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Undergraduate Secretary</b></p>
                                        <p>Adina Puica</p>
                                        <p>
                                            <a href="mailto:undergraduate.secretary@cs.mcgill.ca?">undergraduate.secretary@cs.mcgill.ca</a>
                                        </p>
                                        <p>Tel: (514) 398-7071 ext. 00739</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <!-- row 4: Graduate contat -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Graduate Studies</h4>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p><b>Application Info</b></p>
                                        <p><a href="https://www.mcgill.ca/admissions/">Program and Admissions</a></p>
                                        <p><a href="https://www.mcgill.ca/servicepoint/contact-us">Service point</a></p>
                                        <p>Tel: (514) 398-3910</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><b>Graduate Secretary</b></p>
                                        <p>Ann Jack</p>
                                        <p>
                                            <a href="mailto:ann.jack@mcgill.ca?">ann.jack@mcgill.ca</a>
                                        </p>
                                        <p>Tel: (514) 398-7071 ext. 00074</p>
                                    </div>
                                    <div class="col-lg-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <!-- row 5: other cantact -->
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Computer & Network Operations</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p><b>Help Desk</b></p>
                                        <p>McConnell Engineering Bldg. Room 209N</p>
                                        <p>3480 University, Montreal, Qc, Canada, H3A 0E9</p>
                                        <p>
                                            <a href="mailto:help@cs.mcgill.ca?">help@cs.mcgill.ca</a>
                                        </p>
                                        <p>Tel: (514) 398-7087</p>
                                    </div>
                                    <div class="col-lg-6"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>