<!--  Research Areas  -->
<br>
<h3>RESEARCH AREAS</h3>
<br>

<div class="row">

    <div class="col-lg-4">
        <div class="section-title-two">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/5_Artificial_Intelligence.jpg"
                style="width: 100%">
            <div class="card-body">
                <h4 class="card-title">Artificial Intelligence</h4>
                <a href="http://www.ruthsresearch.org/" class="button-block">Network Dynamics</a><br>
                <a href="http://rl.cs.mcgill.ca/" class="button-block">Reasoning and Learning</a><br>
                <a href="http://www.cim.mcgill.ca/~shape/" class="button-block">Shape Analysis</a><br>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px;">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/12_Computer_Games.jpg"
                style="width: 100%;height:63.5%">
            <div class="card-body">
                <h4 class="card-title">Computer Games</h4>
                <a href="http://gram.cs.mcgill.ca/" class="button-block">Games Research</a><br>
                <a href="#" class="button-block"></a><br>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px;">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/1_Computer_Graphics.jpg"
                style="width: 100%;height:63.5%">
            <div class="card-body">
                <h4 class="card-title">Computer Graphics</h4>
                <a href="https://www.cs.mcgill.ca/~cg/" class="button-block">Computer Animation</a><br>
                <a href="http://www.cim.mcgill.ca/~langer/research.html" class="button-block">Visual
                    Perception</a><br>

            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px;">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/19_Networks.jpg"
                style="width: 100%;height:63.5%">
            <div class="card-body">
                <h4 class="card-title">Computer Systems and Networks</h4>
                <a href="http://cgi.cs.mcgill.ca/~anrl/doku.php" class="button-block">Advanced
                    Networking Research</a><br>
                <a href="https://www.cs.mcgill.ca/~kemme/disl/disl.html" class="button-block">Distributed Information
                    Systems</a><br>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px;">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/23_Programming_Languages.jpg"
                style="width: 100%;height:63.5%">
            <div class="card-body">
                <h4 class="card-title">Programming Languages</h4>
                <a href="http://complogic.cs.mcgill.ca/" class="button-block">Computational and
                    Logic
                    Group</a><br>
                <a href="http://www.sable.mcgill.ca/" class="button-block">Sable Research
                    Group</a><br>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 300px;height: 450px;">
            <img class="card-img-top" src="https://www.cs.mcgill.ca/media/research/area/25_Robotics.jpg"
                style="width: 100%;height:63.5%">
            <div class="card-body">
                <h4 class="card-title">Robotics</h4><br>
                <a href="http://www.cim.mcgill.ca/~mrl/" class="button-block">Mobile Robotics
                    Lab</a><br>
            </div>
        </div>
    </div>
</div>

