<!----------------------------------------------
    This is the sidebar for all academic subpages
------------------------------------------------>

<br>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header"><b>ACADEMIC</b></div>
        <!--REMEMBER TO ADD LINKS (same as the name in server)----------------------->
        <ul class="list-unstyled components">
            <li class="active">
                <!--dropdown submenu: link to the inner unordered list-->
                <a href="#undSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Undergraduate</a>
                <ul class="collapse list-unstyled" id="undSubmenu">
                    <li>
                        <a href="/academic/undergraduate">Overview</a>
                    </li>
                    <li>
                        <a href="/academic/undergraduate/incoming">Information for Incoming Students</a>
                    </li>
                    <li>
                        <a href="#">Remote Learning</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="/academic/undergraduate/advising">Advising</a>
                    </li>
                    <li>
                        <!-- comp 202/204/208 -->
                        <a href="#">Introductory Courses</a>
                    </li>
                    <li>
                        <a href="#">Streams</a>
                    </li>
                    <li>
                        <a href="#">Bachelor of Science</a>
                    </li>
                    <li>
                        <a href="#">Bachelor of Arts</a>
                    </li>
                    <li>
                        <a href="#">Bachelor of Arts and Science</a>
                    </li>
                    <li>
                        <a href="#">Minor Computer Science</a>
                    </li>
                    <li>
                        <a href="#">Games</a>
                    </li>
                    <li>
                        <a href="#">Research Opportunity</a>
                    </li>
                    <li>
                        <a href="#">Internships & Careers</a>
                    </li>
                    <li>
                        <a href="#">Preparation for Graduate Studies</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <!--dropdown submenu-->
                <a href="#gradSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Graduate</a>
                <ul class="collapse list-unstyled" id="gradSubmenu">
                    <li>
                        <a href="/academic/graduate">Overview</a>
                    </li>
                    <li>
                        <a href="#">Masters</a>
                    </li>
                    <li>
                        <a href="#">Ph.D.</a>
                    </li>
                    <li>
                        <a href="#">Admission</a>
                    </li>
                    <li>
                        <a href="#">Applying</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/academic/course">Courses</a>
            </li>
            <li class="active">
                <!--dropdown submenu-->
                <a href="#taSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TA</a>
                <ul class="collapse list-unstyled" id="taSubmenu">
                    <li>
                        <a href="#">TA & Research Assistant</a>
                    </li>
                    <li>
                        <a href="#">TA Awards</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <!--dropdown submenu-->
                <a href="#fundSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Funding</a>
                <ul class="collapse list-unstyled" id="fundSubmenu">
                    <li>
                        <a href="#">Financial Information</a>
                    </li>
                    <li>
                        <a href="#">Graduate Scholarships</a>
                    </li>
                    <li>
                        <a href="#">Expense Reports</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>