<!------------------------------------------------
    This is the sidebar for all prospective subpages
-------------------------------------------------->

<br>
<div class="wrapper">
    <nav id="sidebar">
        <!--header of the sidebar-->
        <div class="sidebar-header"><b>PROSPECTIVE</b></div>
        <!--an unordered list-->
        <ul class="list-unstyled components">
            <!--REMEMBER TO ADD LINKS---------------->
            <li>
                <a href="/prospective/overview">Overview</a>
            </li>
            <li>
                <a href="#">Why CS?</a>
            </li>
            <li>
                <a href="/prospective/cegep">CEGEP</a>
            </li>
            <li>
                <a href="/prospective/freshman">Freshman</a>
            </li>
            <li>
                <a href="/prospective/chooseAMajor">Choosing a major</a>
            </li>
            <li>
                <a href="/prospective/combine">Combining Studies</a>
            </li>
            <li>
                <a href="#">Internships</a>
            </li>
            <li>
                <a href="#">Undergrads</a>
            </li>
            <li>
                <a href="#">Transfers</a>
            </li>
        </ul>
    </nav>
</div>