<!-------------------------------------------------
    This is the sidebar for all Employment subpage 
--------------------------------------------------->

<br>
<div class="wrapper">
    <nav id="sidebar">
        <!--header of the sidebar-->
        <div class="sidebar-header"><b>EMPLOYMENT</b></div>
        <!--an unordered list-->
        <ul class="list-unstyled components">
            <!--REMEMBER TO ADD LINKS---------------->
            <li>
                <a href="#">All</a>
            </li>
            <li>
                <a href="#">Faculty</a>
            </li>
            <li>
                <a href="#">Course Lecturer</a>
            </li>
            <!-- Posting@cs in main page should link here -->
            <li>
                <a href="#">Research</a>
            </li>
            <li>
                <a href="#">Student</a>
            </li>
            <!-- Posting@cs links end -->
        </ul>
    </nav>
</div>