
<div class="wrapper">
    <nav id="sidebar">
        <!--header of the sidebar-->
        <div class="sidebar-header"><b>You have logged in</b></div>
        <!--an unordered list-->
        <ul class="list-unstyled components adminSide">
            <!--REMEMBER TO ADD LINKS---------------->
            <li>
                <a href="/admin/news/manage">Manage News</a>
                <a href="/admin/posting/manage">Manage Posting</a>
                <a href="/admin/course/manage">Manage Course</a>
                <a href="/admin/register">Register New Admin</a>
            </li>
        </ul>
    </nav>
</div>