<!----------------------------------------------
    This is the sidebar for all research subpages
------------------------------------------------>

<br>
<div class="wrapper">
    <nav id="sidebar">
        <!--header of the sidebar-->
        <div class="sidebar-header"><b>RESEARCH</b></div>
        <!--an unordered list-->
        <ul class="list-unstyled components">
            <!--REMEMBER TO ADD LINKS---------------->
            <li>
                <a href="/research/area">Research Areas</a>
            </li>
            <li>
                <a href="/research/reports">Tech Reports</a>
            </li>
        </ul>
    </nav>
</div>