<!-------------------------------------------
    This is the sidebar for all People subpages
--------------------------------------------->

<br>
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header"><b>PEOPLE</b></div>
        <!--REMEMBER TO ADD LINKS (same as the name in server)----------------------->
        <ul class="list-unstyled components">
            <li class="active">
                <!--dropdown submenu: link to the inner unordered list-->
                <a href="/people/faculty" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Faculty</a>
                <ul class="collapse list-unstyled" id="facSubmenu">
                    <li>
                        <a href="#">Director</a>
                    </li>
                    <li>
                        <a href="#">Professors</a>
                    </li>
                    <li>
                        <a href="#">Faculty Lecturer</a>
                    </li>
                    <li>
                        <a href="#">Adjunct Professors</a>
                    </li>
                    <li>
                        <a href="#">Associate Members</a>
                    </li>
                    <li>
                        <a href="#">Emeritus Professors</a>
                    </li>
                    <li>
                        <a href="#">Former Professors</a>
                    </li>
                    <li>
                        <a href="#">In Memoriam</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <!--dropdown submenu-->
                <a href="#staffSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Staff</a>
                <ul class="collapse list-unstyled" id="staffSubmenu">
                    <li>
                        <a href="#">Administrative Staff</a>
                    </li>
                    <li>
                        <a href="#">System Staff</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <!--dropdown submenu-->
                <a href="#comSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Community</a>
                <ul class="collapse list-unstyled" id="comSubmenu">
                    <li>
                        <a href="#">Women@CS</a>
                    </li>
                    <li>
                        <a href="#">Summer Camp</a>
                    </li>
                    <li>
                        <a href="https://mcgill-csus.ca/">CSUS</a>
                    </li>
                    <li>
                        <a href="http://csgs.cs.mcgill.ca/">CSGS</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>