<!-------------------------------------------------
    This is the sidebar for all NEWS subpage 
--------------------------------------------------->

<br>
<div class="wrapper">
    <nav id="sidebar">
        <!--header of the sidebar-->
        <div class="sidebar-header"><b>NEWS</b></div>
        <!--an unordered list-->
        <ul class="list-unstyled components">
            <!-- news -->
            <li class="active">
                <!--dropdown submenu: link to the inner unordered list-->
                <a href="#newsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Faculty</a>
                <ul class="collapse list-unstyled" id="newsSubmenu">
                    <li>
                        <a href="#">Announcements</a>
                    </li>
                    <li>
                        <a href="#">Awards</a>
                    </li>
                </ul>
            </li>
            <!-- events -->
            <li>
                <a href="#">Courses</a>
            </li>
        </ul>
    </nav>
</div>