<h3>Advising</h3>
<p>
    All newly admitted students should attend the Orientation during Welcome Week prior to the Labour Day weekend. Please see the department website for details.
</p>
<p>
    For advising on procedural matters relevant to undergraduates, students should contact
    <a href="https://www.cs.mcgill.ca/about/">Liette Chin, </a> the Undergraduate Program Coordinator, by calling 514-398-7071 ext. 00739 to schedule an appointment. Please always include your Student ID number to ensure proper identification.
</p>