<h3>
    CEGEP
</h3>
<h4>
    What You Need To Apply
</h4>
<p>
    If you are completing a science pre-university CEGEP program, you should apply to the B.Sc. programs offered through the Faculty of Science. To be eligible to enter the program of your choice you will need your DEC and to have completed the following
    CEGEP-level courses: Biology - NYA (00UK); Chemistry - NYA, NYB (00UL, 00UM); Mathematics - NYA, NYB, NYC (00UN, 00UP, 00UQ); Physics - NYA, NYB, NYC (00UR, 00US, 00UT). If this is your case, you should apply though the
    <a href="http://www.mcgill.ca/science"></a>
</p>
<p>
    <b>If you are graduating from the new Math and Computer Science CEGEP program,</b> you should also apply though the Faculty of Science, and select the BSc in the Physical, Earth, Mathematics and Computer Science Group. You will then be able to proceed
    directly to a major in CS or SE and will not have to complete any extra science courses at McGill.
</p>
<p>
    If you have a different background that includes some mathematics, you can still enter B.A. programs in Computer Science. In this case you should apply to the
    <a href="http://www.mcgill.ca/arts/">Faculty of Arts</a>
</p>
<p>
    See the
    <a href="http://www.mcgill.ca/applying/admissionsguide/quebec/">official McGill Page for CEGEP students</a>
</p>
<p>
    Note that you do <b>not</b> need to have prior experience with computer science to apply to our programs: you can start with our introductory programming course, COMP 202, Introduction to Computing I. However, if you have already completed a course
    in programming, you may be able to start your McGill program directly with the course COMP 250 Introduction to Computer Science
</p>
<h4>How You Apply</h4>
<p>
    For general information on admission, fees, etc., see the
    <a href="http://www.mcgill.ca/applying/">McGill Admission Website.</a> To apply on-line, select "Applying On-line".
</p>
<p>
    You will be asked to create an account, enter your personal information, etc. Once you reach the page asking your about Program Choice:
</p>
<p>
    <b>For students with a science DEC:</b>
    <ul>
        <li>For "Faculty/School/Center", choose "Faculty of Science"</li>
        <li>For "Program", choose "B Sc Physical, Earth, Math & Computer Sci" for all Computer Science or Software Engineering Majors, except for the Joint Computer Science and Biology Major. If you are specifically interested in the the Joint Computer Science
            and Biology Major, then choose "B Sc Biological, Biomedical & Life Sci"
        </li>
        <li>
            For "Major or Subject", choose one of "Computer Science", "Math & Computer Science", "Physics & Computer Science", "Stats & Computer Science", "Software Engineering" or "Computer Science and Biology".
        </li>
    </ul>
</p>
<p>
    If you decide later you prefer a different major, do not worry as you can declare a different major from within the same group at the time of registration.
</p>