<h3>Choosing a Major</h3>
<p>
    There are many possible options for studying Computer Science or Software Engineering at McGill. The School of Computer Science offers many programs, all of which are listed
    <a href="https://www.cs.mcgill.ca/academic/undergrad/overview">here.</a> On this page we provide you with some clear guidance on how to pick the right degree program for you. If, after reviewing all of the material, you have some specific questions,
    then ask us for<a href="https://www.cs.mcgill.ca/about/contacts">some personal advice</a>
</p>
<h4>Bachelor of Science - B.Sc. (Faculty of Science)</h4>
<p>
    Most of our students choose a B.Sc. degree program. The B.Sc. degree is suitable for you if:
</p>
<p>
    <ul>
        <li>
            you are coming from a high school program outside of Quebec and you have enjoyed both Mathematics and Science; or
        </li>
        <li>
            you are coming from any Science CEGEP program from within Quebec.
        </li>
    </ul>
</p>
<p>
    There are three main programs available in the B.Sc. program:
</p>
<p>
    <ul>
        <li>Major in Computer Science (also available with a Computer Games Option)</li>
        <li>Honours in Computer Science</li>
        <li>Major in Software Engineering</li>
    </ul>
</p>
<p>
    The Major in Computer Science contains core required courses, plus a wide choice of higher-level complementary courses. If you choose this program, you will get a good general background in foundational and applied Computer Science and you will get to
    choose from a wide variety of complementary courses that you will let you explore some more advanced topics. With the correct choice of courses you could prepare yourself for employment or for further graduate studies.
</p>
<p>
    The Honours program requires more courses than the Major, plus there are some core courses which have a special Honours version. An Honours program gives you a deeper and more comprehensive education in Computer Science.
</p>
<p>
    The Major in Software Engineering also contains a core of Computer Science courses, but also contains more courses pertaining to the principled development of software. A more detailed explanation of the difference between the Computer Science and Software
    Engineering majors is given further on.
</p>
<p>
    If you decide on a B.Sc. degree with a Major/Honours in Computer Science or Software Engineering, then you should choose "Faculty of Science" on your application form and choose the Physical, Earth, Math and Computer Sciences group.
</p>