<h3>Computer Science and Other Studies</h3>
<p>
    For many students, combining computer science with another discipline is a great way to explore a wider range of options. This page describes your choices. Links to the detailed programs can be found
    <a href="https://www.cs.mcgill.ca/academic/undergrad/program">here</a>
</p>
<h4>B.Sc. Liberal Program</h4>
<p>
    Starting in Fall 2007 McGill introduced a brand new kind of B.Sc. program that allows you to combine a Core Science Component (CSC) (45 credits) of Computer Science or Software Engineering with a Breadth Component (at least 18 credits) of another discipline.
    This is a great option for students who wish to learn about the core part of Computer Science, but who also want some breadth, including Arts, Management or other Sciences.
</p>
<p>
    The B.Sc. Liberal program lets you create your own combination. Here are just some examples:
</p>
<p>
    <ul>
        <li>
            You might be interested in leaving the option open for future studies in Medicine, Dentistry or other health-related fields. There is a brand new minor program, the Interdisciplinary Life Sciences Minor, which is a great choice. By combining the core
            of Computer Science or Software Engineering with the Interdisciplinary Life Sciences minor you can prepare for many diverse career options.
        </li>
        <li>
            You might also be interested in Arts, so you could combine your CSC in Computer Science with an Arts minor or major concentration. There are a large number of options in Arts from minors like Social Sciences of Medicine to Philosophy and Anthropology.
        </li>
        <li>
            You might be interested in applying your Computer Science knowledge to management, so you could combine your CSC in Computer Science with a minor in management, finance, marketing or technological entrepreneurship.
        </li>
        <li>
            You might be interested in applying Computer Science to another Science discipline by completing a minor in Biology, Chemistry, Physics, Psychology, Geography, and so much more.
        </li>
        <li>
            You also have to option of creating your own breadth component - they key point is to select 18 credits of Science courses that include enough courses outside of your area and enough courses at the 300-level or above. The exact rules for this option will
            be given in a new "General Science Minor".
        </li>
        <li>
            You might also decide that you prefer to concentrate in another area and choose a CSC in another Science and then use a Minor in Computer Science as your breadth requirement. The choice is yours.
        </li>
    </ul>
</p>
<h4>
    Joint Major (or Honours) in Computer Science and Biology
</h4>
<p>
    With the advent of new biotechnologies, biology is becoming more and more of a quantitative science, with a clear need for advanced mathematical and computational approaches to design experiments, and manage, store, analyze, and integrate their results.
    This new joint program will give you an in-depth understanding of biology, computer science, and how the two are irrevocably intertwined. This new breed of multidisciplinary scientists will be highly sought after on the job market as well as in graduate
    programs. Students interested in this joint major should apply to the Bio-Physical-Computational Sciences Group. All other Computer Science programs are in the Physical, Earth, Math and Computer Sciences Group.
</p>