<h3>Freshman Program</h3>
<p>
    Academic programs at McGill are normally four-year, 120-credit programs. In the B.Sc., B.A. and B.A.&Sc. degrees, this is split into a 30-credit freshman program and a three-year, 90-credit departmental program.
</p>
<p>
    Students entering directly from high schools (outside of Quebec) usually start with the 30-credit freshman program, whereas students coming from Quebec CEGEP programs are usually granted 30 credits at the time of admission and they start directly into
    the 90-credit departmental program.
</p>
<p>
    If you are a CEGEP student, you do not need to read any more about the freshman program, since you will not need to take it.
</p>
<p>
    If you are a high school student, then you will need to consider which courses to take in your freshman year to best prepare you for a Computer Science or Software Engineering Major.
</p>
<p>
    There is a separate freshman program for each degree, as specified at:
</p>
<p>
    <ul>
        <li>
            B.Sc. Freshman Program
            <a href="http://www.mcgill.ca/science/student/newstudents/u0/bscfreshman/">
                (SOUSA, B.Sc. Freshman Advice)
            </a>
        </li>
        <li>
            B.A. Freshman Program
            <a href="http://www.mcgill.ca/oasis/ba/freshman/">(OASIS, B.A. Freshman Advice)</a>
        </li>
    </ul>
</p>
<p>
    Although each degree (B.Sc., B.A., B.A.&Sc.) has its own freshman requirements, all freshman students interested in continuing on to a Computer Science or Software Engineering major can use the following general guidelines for selecting the computer science
    part of their freshman programs.
</p>