<!--  People  -->
<div class="container">
    <div class="row">

        <div class="col-lg-4  ml-auto mr-auto">
            <div class="section-title-two" style="margin: 10px">
                <h3>FACULTY MEMBERS</h3>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Kemme.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Bettina Kemme</h6>
                    <p class="card-text" style="font-size: 2px">
                        Database, Networks, Parallel and Distributed systems, Computer Games
                    </p>
                    <a href="https://www.cs.mcgill.ca/~kemme/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Blanchette.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Mathieu Blanchette</h6>
                    <p class="card-text" style="font-size: 2px">
                        Bioinformatics, Computational Biology
                    </p><br>
                    <a href="https://www.cs.mcgill.ca/~blanchem/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Vybihal.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Joseph Vybihal</h6>
                    <p class="card-text" style="font-size: 2px">
                        Brain Inspired Artificial Intelligence, Swarm Robotics
                    </p>
                    <a href="https://www.cs.mcgill.ca/~jvybihal/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Cheung.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Jackie Cheung</h6>
                    <p class="card-text" style="font-size: 2px">
                        Computational Linguistics, Natural Language Processing
                    </p>
                    <a href="https://www.cs.mcgill.ca/~jcheung/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Chang.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Xiao-Wen Chang</h6>
                    <p class="card-text" style="font-size: 2px">
                        Scientific Computing, Numerical Linear Algebra and Optimization
                    </p>
                    <a href="https://www.cs.mcgill.ca/~chang/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Kry.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Paul Kry</h6>
                    <p class="card-text" style="font-size: 2px">
                        Computer Graphics, Robotics, Applied Machine Learning
                    </p>
                    <a href="https://www.cs.mcgill.ca/~kry/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Pientka.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Brigitte Pientka</h6>
                    <p class="card-text" style="font-size: 2px">
                        Logic and Computation, Programming Language Theory
                    </p>
                    <a href="https://www.cs.mcgill.ca/~bpientka/" class="button-block">Website</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
            <div class="card" style="width: 200px;height: 360px">
                <img class="card-img-top" src="https://www.cs.mcgill.ca/media/professors/Vetta.jpg" style="width: 100%">
                <div class="card-body">
                    <h6 class="card-title">Andrian Vetta</h6>
                    <p class="card-text" style="font-size: 2px">
                        Algorithmic Game Theory, Algorithms, Discrete Maathematics
                    </p>
                    <a href="https://www.math.mcgill.ca/~vetta/" class="button-block">Website</a>
                </div>
            </div>
        </div>



    </div>
</div>