<h3>Overview</h3>
<p>
    The McGill School of Computer Science offers Masters and Ph.D. programs.
</p>
<h4>Which program should you apply to?</h4>
<p>
    If you are a McGill undergrad, then you can consider applying for the B.Sc. / M.Sc. fast track. More information on this program can be found at our
    <a href="https://www.cs.mcgill.ca/academic/undergrad/gradprep">grad school preparation</a> page, and the about the B.Sc. / M.Sc. (thesis) track page of the Faculty of Science.
</p>
<p>
    If your final goal is to obtain a Masters then apply to the Masters program.
</p>
<p>
    If your final goal is (or may be) to obtain a Ph.D. then there are two possibilities.
</p>
<p>
    <ul>
        <li>
            If you have already completed a Masters degree, you should apply directly to the Ph.D. program.
        </li>
        <li>
            If you do not hold a Masters degree, you should apply to Masters program initially, although you have the possibility of being admitted to the Ph.D. program directly if you have excellent academic records. Furthermore, students who are already in the
            Masters program at the School of Computer Science and have shown sufficient scholastic and research abilities will have the possibility of being
            <a href="https://www.cs.mcgill.ca/academic/graduate/masters">fast-tracked to the Ph.D. program</a> at the end of the first academic year, without having to complete the requirements of the Masters degree.
        </li>
    </ul>
</p>