<% layout('./layouts/template') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
            <%-include('../partials/sidebarAbout')  %> 
        </div>
        <div class="col-lg-8" id="text-back">
            <%-include('../partials/search') %>
            <%-include('donateContent')  %>
        </div>
    </div>
</div>